@import '../../vars.css';

.category {
    margin-bottom: 60px;
}
.checkItem {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 0;
}
.amount {
 margin-left: 10px;
 color:var(--gray);
}
