@import '../../vars.css';
.price {
    margin-bottom: 60px;
}
.slider {
    width: 100%;
}
.amount {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.btnArea {
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.btn {
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color:var(--main-blue);
    border:none;
    outline: none;
    color:var(--white);
    display: flex;
    padding: 5px 26px;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}